<h1>Welcome#index</h1>
<p>Moms Start Inventory: <%= MomStartCount.sum(:quantity) %></p>
<p>Cookies Checked Out: <%= SiteStartCount.sum(:quantity) %></p>
<p>Cookies Checked In: <%= SiteEndCount.sum(:quantity) %></p>
<p>Running Inventory: <%= (MomStartCount.sum(:quantity)-SiteStartCount.sum(:quantity))+SiteEndCount.sum(:quantity) %></p>
